.App {
  text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Benne&family=Roboto:wght@100&display=swap');

h2{
    font-family: 'Benne', serif;

}

h3{
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: flex-end;
}

span{
    
     
     
       padding: 10px 35px;
       text-align: center;
       text-transform: uppercase;
       color: white;   
       box-shadow: none;   
       outline: none;    
       border-radius: 10px;
       display: block;
       
     
    
}


.container{
    display: flex;
    width: 100vw;
    height: 100vh;
   flex-direction: row;
   justify-content: center; 
   align-items: center;
  
    
    
}

.quote{
    margin: 10vh;
    padding: 5vh;
    width: 80vh;
    background-color:white;
}

button{
  display:block;
  position: relative;
    margin:1vh;
    padding:1vh;
    top:3vh;
}